:root {
  --primary-color: #46ab07;
  --primary-color-dark: #3d9206;
  --primary-color-darker: #275704;
  /*--primary-color-darkest: ;*/
  --gray-dark: #444;
  --gray-medium: #aaa;
  --gray-light: #ddd;
  --gray-lighter: #eee;
  --gray-lightest: #f5f5f5;
}

body {
  margin: auto;
  font-family: sans-serif;
  background-color: var(--gray-lightest);
  /*text-shadow: 2px 2px 2px white*/
}

.navbar {
  border-radius: 0;
}

/********** Landing Page **********/
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -100;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  filter: brightness(50%) blur(4px);
}

.home-page-container {
  margin: 25px;
}

.landing-search {
  width: 50%;
  margin: 0 auto;
}

.worker-list-container {
  margin: 0 auto;
  margin-top: 25px;
  width: 75%
}


/********** Colors **********/
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color-dark);
}

.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: var(--primary-color-dark);
  border-color: #0f2801;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-darker);
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-darker);
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: var(--primary-color-darker);
  border-color: #0f2801;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: var(--primary-color);
  border-color: #3da206;
}
.btn-primary .badge {
  color: var(--primary-color);
  background-color: #ffffff;
}
.label-primary {
  background-color: var(--primary-color);
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: var(--primary-color-dark);
}
.panel-primary {
  border-color: var(--primary-color);
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: var(--primary-color);
}
.panel-primary > .panel-heading .badge {
  color: var(--primary-color);
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: var(--primary-color);
}
.text-primary {
  color: var(--primary-color);
}
a.text-primary:hover,
a.text-primary:focus {
  color: var(--primary-color-dark);
}
.bg-primary {
  color: #fff;
  background-color: var(--primary-color);
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: var(--primary-color-dark);
}
.btn-link {
  color: var(--primary-color);
  font-weight: normal;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  color: #2a7104;
  text-decoration: underline;
  background-color: transparent;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a7104;
  text-decoration: underline;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: var(--primary-color);
}
a.text-primary:hover,
a.text-primary:focus {
  color: var(--primary-color-dark);
}
.text-success {
  color: #3c763d;
}
a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover,
a.text-info:focus {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}


/********** Worker Profile **********/
.worker-profile-container {
  margin: 50px;
  /*padding: 25px;*/
  /*border: 1px solid var(--gray-lightest);*/
  /*border-radius: 4px;*/
}

.worker-info-container {
  margin-bottom: 50px;
}

.circular--square {
  border-radius: 50%;
  border: 1px solid var(--gray-medium);
}

.profile-photo {
  float: left;
}

.worker-info {
  height: 128px;
  margin-left: 150px;
}

.service-entry {
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  color: var(--gray-medium);
  background-color: var(--gray-lightest);
}

.service-entry.checked {
  color: inherit;
}

.calendar {
margin:.25em 10px 10px 0;
padding-top:5px;
float:left;
width:80px;
background:#ededef;
background:-webkit-gradient(linear,left top,left bottom,from(#ededef),to(#ccc));
background:-moz-linear-gradient(top,#ededef,#ccc);
font:bold 30px/60px Arial Black,Arial,Helvetica,sans-serif;
text-align:center;
color:#000;
text-shadow:#fff 0 1px 0;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
position:relative;
-moz-box-shadow:0 2px 2px #888;
-webkit-box-shadow:0 2px 2px #888;
box-shadow:0 2px 2px #888
}

.calendar em {
display:block;
font:normal bold 11px/30px Arial,Helvetica,sans-serif;
color:#fff;
text-shadow:#00365a 0 -1px 0;
background:#04599a;
background:-webkit-gradient(linear,left top,left bottom,from(#04599a),to(#00365a));
background:-moz-linear-gradient(top,#04599a,#00365a);
-moz-border-radius-bottomright:3px;
-webkit-border-bottom-right-radius:3px;
border-bottom-right-radius:3px;
-moz-border-radius-bottomleft:3px;
-webkit-border-bottom-left-radius:3px;
border-bottom-left-radius:3px;
border-top:1px solid #00365a
}

.calendar:before,.calendar:after {
content:'';
float:left;
position:absolute;
top:5px;
width:8px;
height:8px;
background:#111;
z-index:1;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
-moz-box-shadow:0 1px 1px #fff;
-webkit-box-shadow:0 1px 1px #fff;
box-shadow:0 1px 1px #fff
}

.calendar:before {
left:11px
}

.calendar:after {
right:11px
}

.calendar em:before,.calendar em:after {
content:'';
float:left;
position:absolute;
top:-5px;
width:4px;
height:14px;
background:#dadada;
background:-webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#aaa));
background:-moz-linear-gradient(top,#f1f1f1,#aaa);
z-index:2;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px
}

.calendar em:before {
left:13px
}

.calendar em:after {
right:13px
}
