:root {
  --primary-color: rgb(70, 187, 7);
  --gray-dark: #444;
  --gray-medium: #aaa;
  --gray-light: #ddd;
  --gray-lightest: #f5f5f5;
}

body {
  margin: auto;
  font-family: sans-serif;
  /*text-shadow: 2px 2px 2px white*/
}

.navbar {
  border-radius: 0;
}

/********** Landing Page **********/
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -100;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  filter: brightness(50%) blur(4px);
}

.home-page-container {
  margin: 25px;
}

.landing-search {
  width: 50%;
  margin: 0 auto;
}

.worker-list-container {
  margin: 0 auto;
  margin-top: 25px;
  width: 75%
}


/********** Colors **********/
/*.btn-primary {
  background-color: var(--primary-color);
  border-color: darken(var(--primary-color),50%);
}*/

/********** Worker Profile **********/
.services {
}

.service-entry {
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  color: var(--gray-medium);
  background-color: var(--gray-lightest);
}

.service-entry.checked {
  color: inherit;
}
