body {
  width: 960px;
  margin: auto;
  font-family: sans-serif;
}

h1 {
  /*color: limegreen;*/
}

/********** Landing Page **********/
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -100;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  filter: brightness(50%) blur(4px);
}

.home-page-container {
  margin: 25px;
}

.landing-search {
  width: 50%;
  margin: 0 auto;
}
